
// Scrollbar

// Chrome, Safari e Opera
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $brand-vivid-pink;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($brand-vivid-pink, 10%);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

// Firefox 

* {
  scrollbar-color: $brand-vivid-pink transparent;
  scrollbar-width: thin;
}

// Seletor de texto selecionado
::selection {
  background-color: $brand-vivid-pink;
}

// Links visitados
a:visited {
  color: $brand-vivid-pink;
}

// Links ativos/hover
a:hover,
a:active {
  color: $brand-vivid-pink;
}

//body html
body,html {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family;
  background-color: $bg-default;
  @media (max-width: $breakpoint-medium) {
    margin:0;
  }

}

//Titulos e subtitulos
h2 {
	font-size: map-get(map-get($font-styles, large), size);
	font-weight: map-get(map-get($font-styles, large), font-weight);
	margin: $spacing-none;
}

h3 {
	font-size: map-get(map-get($font-styles, medium), size);
	font-weight: map-get(map-get($font-styles, medium), font-weight);
	color: $font-color-secondary;
	margin-top: $spacing-none;
	margin-bottom: $spacing-medium;
}


// spacer
.horizontal-spacer {
  border: none;
  border-top: 1px solid $brand-color-main;
  margin: $spacing-medium 0;
  @media (max-width: $breakpoint-medium) {
		margin: $spacing-small 0
	}

}

.logo-brand {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-img {
  max-width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
}
