

body {
  font-family: $font-family;
  background-color: $bg-default;
}

h1 {
	font-size: map-get(map-get($font-styles, x-large), size);
	font-weight: map-get(map-get($font-styles, x-large), font-weight);
	margin: $spacing-large;
  text-align: center;
   & u {
    color:$brand-vivid-pink
  }
}

h2 {
	font-size: map-get(map-get($font-styles, large), size);
	font-weight: map-get(map-get($font-styles, large), font-weight);
	margin: $spacing-none;
}

h3 {
	font-size: map-get(map-get($font-styles, medium), size);
	font-weight: map-get(map-get($font-styles, medium), font-weight);
	color: $font-color-secondary;
	margin-top: $spacing-none;
	margin-bottom: $spacing-medium;
}

.container {
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.horizontal-spacer {
  border: none;
  border-top: 1px solid $brand-color-main;
  margin: $spacing-medium 0;

}

.logo-brand {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-img {
  max-width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
}
