//~ Imports ~\\
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap'); // fonte sora



// Design Tokens \\

// Brand Colors
$brand-color-main: #E6EAF2;
$brand-primary: #2A343E;
$brand-secondary: #F00843;
$brand-vivid-pink: #F30168;
$brand-lime-green: #10C300;

// Alert Colors
$info-color: #007bff;
$success-color: #28a745;
$error-color: #dc3545;
$warning-color:#ff9800;
$disabled-color: #6c757d;
$color-white: #FFF;
$color-black:#000;

// Background-Color
$bg-default: #FAFAFC ;

// Tipography
$font-family: 'Sora', sans-serif;

//Font sizes
$font-styles: (
  x-small: (
    size: 12px,
    font-weight: 400,
    font-family: $font-family
    ),
    small: (
      size: 14px,
      font-weight: 400,
      font-family: $font-family
      ),
      medium: (
          size: 14px,
          font-weight: 400,
          font-family: $font-family
        ),

        medium-bold: (
          size: 14px,
          font-weight: bold,
          font-family: $font-family
        ),
        large: (
          size: 20px,
          font-weight: 700,
          font-family: $font-family
  ),
          x-large: (
        size:28,
        font-weight:700,
        font-family:$font-family
        )
        );
    
    // usar com map-get
    // ex:
    // font-size: map-get(map-get($font-styles, medium), size);
    // font-weight: map-get(map-get($font-styles, medium), weight);
    
    //Font Colors
    $font-color-primary: #2A343E;
    $font-color-secondary: #666666;
    $font-color-light: #999999;
    $font-color-white: #FAFAFC;
    $font-color-black: #0a0a0a;

    // Spacements
    $spacing-x-small: 4px;
    $spacing-small: 8px;
    $spacing-medium: 16px;
    $spacing-large: 24px;
    $spacing-x-large: 36px;
    $spacing-none: 0;
    
    // Borders
    $border: 1px solid $brand-color-main;
    
    //Border Radius
    $border-radius: 5px;
    
    // Box Shadows
    $box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    
    // Icons
    $icon-size-small: 16px;
    $icon-size-medium: 24px;
    $icon-size-large: 32px;
    
    // Z-indexes
    $z-index-modal: 1000;
    $z-index-dropdown: 900;
    $z-index-overlay: 800;
    
    // Transition Effect
$transition-duration: 0.3s;
$transition-easing: ease-in-out;

// Layout
$box-size: 400px;
$column-height: 700px;

// Media queries
$breakpoint-small: 576px;
$breakpoint-medium: 769px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

//Lighten/Darken Variables
$luminosity-increase: 15%; // variavel de enclarecimento da cor padrao do botao

//Buttons
$button-color: $brand-vivid-pink;
$button-hover: lighten($brand-vivid-pink, $luminosity-increase); // Configura globalmente a cor e focus/hover dos botoes